<button routerLink="/Menu/newItem">Add Menu Item</button>

<table >
    <thead>
        <td>Menu Number</td>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
    </thead>
    <tbody *ngFor="let item of menuItems">
            <td>{{item.menu_id}}</td>
            <td>{{item.itemName}}</td>
            <td>{{item.description}}</td>
            <td>{{item.price}}</td>
            <td><button (click)=removeMenuItem(item.menu_id)>Remove Item</button></td>
    </tbody>
</table>