<p>This page is {{title}}</p>

<form action="api/saveReservations" method="post">
  <h4>Enter the Date of the Reservation</h4>
  <input type="date" #reservationDate><br />
  <h4>Enter the Hour of your Reservation</h4>
  <input #reservationTime><br />

  <button (click)="saveReservations(reservationDate.value, reservationTime.value);">Submit</button>
</form>

<!-- <div class="grid grid-pad">
    <a *ngFor="let the_reservation of reservationsList">
      <div class="module hero">
        <h3>Reservation ID: {{the_reservation.reservation_id}}</h3>
        <h4>Customer ID: {{the_reservation.customer_id}}</h4>
        <h4>Reservation Date: {{the_reservation.date}}</h4>
        <h4>Reservation Time:{{the_reservation.time}}</h4>
      </div>
    </a>
  </div> -->