

<div *ngIf="employee">
  <h4>Booked Reservations</h4>
  <table>
    <thead>
        <td>Reservation Number</td>
        <td>Customer ID</td>
        <td>Reserved Date</td>
        <td>Reserved Time</td>
    </thead>
    <tbody *ngFor="let reservations of reservationsList">
            <td>{{reservations.reservation_id}}</td>
            <td>{{reservations.customer_id}}</td>
            <td>{{reservations.date}}</td>
            <td>{{reservations.time}}</td>
    </tbody>
</table>
</div>

<div *ngIf="!employee">
  <form>
    <h4>Enter the Date of the Reservation</h4>
    <input type="date" #reservationDate><br />
    <h4>Enter the Hour of your Reservation</h4>
    <input type="number" #reservationTime><br />

    <button (click)="saveReservations(reservationDate.value, reservationTime.value);">Submit</button>
  </form>
</div>